.sharebox-right
  %h5 Tell my friends on:
  %p.middletext
    = image_tag 'sites/old/btn-share-facebook.gif', id: 'facebook_popup', height: 40, border: 0, width: 132
  %p.middletext
    = link_to "https://twitter.com/share?url=http%3A%2F%2Fwww.oupledge.com/?ref=KiindlyTW%2F&hashtags=OUPledge&text=I just made a difference at Kiindly.com for Oakland University. Follow my link to join the crowd.", class: 'popup_link' do
      = image_tag 'sites/old/btn-share-twitter.gif', border: 0
  %p.middletext
    = link_to "http://pinterest.com/pin/create/button/?url=www.oupledge.com&media=http%3A%2F%2Fkiindly.net%2Fsites%2Foaklandalum%2Foaklandalum-pinterest.jpg&description=I just made a difference at oupledge.com. Help increase everyone's donation by one penny by taking the OUAA Penny Pledge, or just donating. Every person and every penny counts! %23Charity %23Fundraiser", :class => 'popup_link', "count-layout" => "none" do
      = image_tag 'sites/old/btn-share-pinterest.gif', height: 40, border: 0, width: 132
  %p &nbsp;
  %p
    = link_to raw("Learn more about kiindly.com &raquo;"), "http://www.kiindly.com", target: "_blank"
    %br
    = link_to raw("Learn more about The OUAA Scholarship Fund &raquo;"), "http://www.oualumni.com", target: "_blank"
