= p.fields_for :donor do |d|
  %ul#billingform
    %li#billing-fname
      First Name
      %br
      = d.text_field :first_name
    %li#billing-lname
      Last Name
      %br
      = d.text_field :last_name
    %li#billing-email{:style => "width:500px;"}
      Email Address
      %span.x10 (so we can send you a receipt)
      %br
      = d.text_field :email, class: 'long'
    %li#billing-address
      Street Address
      %br
      = d.text_field :street_address
    %li#billing-city
      City
      %br
      = d.text_field :city
    %li#billing-state
      State
      %br
      = d.select :state, options_for_select(us_states)
    %li#billing-zip
      ZIP Code
      %br
      = d.text_field :zip, class: 'positive-integer short', maxlength: 5
    %li#billing-phone
      Phone
      %span.x10 (optional)
      %br
      = d.text_field :phone, class: 'positive-integer', maxlength: 10
