.contentpageblock{:align => "center"}
  #payinfo-left
    = form_for @pledge do |p|
      .paymentcontentblock.roundbox
        %h3 Fantastic! Now we just need a few details...
        %p You're just 1 step away from completing your contribution.
        %h4 Set your maximum donation
        %noscript
          %p Please enter your pledge cap (between $10 and $1000)
        %input#slider2.carpe-slider.target-display5{:name => "slider1", :style => "float: left; clear: none; margin-right:10px;", :type => "text"}/
        $
        %input#display5.short{:name => "capname", :tabindex => "-1", :value => "50"}/
        %p By pledging to match a dollar, I am agreeing to donate one dollar for every person who also donates to this campaign. If more people donate, my total contribution will be remain at the pledge cap I select.
        %h4 Customize your pledge
        %p Pick a donor dot color &amp; write a message
        %a#colorpicker{:href => "http://www.menucool.com/color-picker"} Color Picker for website, easy-to-use
        %input.color.short{:type => "text"}/
        %input.medium{:maxlength => "140", :onblur => "if (this.value=='') this.value = 'Type a short message';", :onfocus => "if (this.value=='Type a short message') this.value = '';", :style => "margin-left:20px", :type => "text", :value => "Type a short message"}/
        %hr.clear/
      .paymentcontentblock.roundbox
        = render partial: 'billing_information', locals: { p: p }
        %hr.clear/
      .paymentcontentblock.roundbox
        = render 'payment_information'
        %hr.clear/
      .paymentcontentblock.roundbox
        .optincheck
          %input.rad{:type => "checkbox", :value => "1"}/
        .optintext
          I agree to the
          %a{:href => ""} Terms &amp; Conditions
          of Kiindly.com.
        .optincheck
          %input.rad{:type => "checkbox", :value => "1"}/
        .optintext
          I would like to receive emails regarding new projects, special events, news
          and information from TownSquare Cares.
        .optincheck
          %input.rad{:type => "checkbox", :value => "1"}/
        .optintext
          If the campaign doesn't reach my donation cap I'm willing to donate the value of my full cap amount.
        %p.button_to
          %button.submitbtn{:type => "submit"} SUBMIT
        %hr.clear/
  #infopage-right
    #donationstatus.roundbox
      #campaignlogo
        = image_tag "sites/chi/logo.jpg", height: 80, width: 250
      #progresstext
        %h3 Donation Summary
        %ul#donation-summary
          %li Donation Type:
          %li.donsum-right Dollar Match
          %li Campaign Ends:
          %li.donsum-right April 15, 2011
        %hr.clear/
    = render "pledges/donor_dots"

