- content_for :video do
  = render 'pledges/lts/charity_picker'
  = render 'pledges/lts/pledge_set'

.contentpageblock{:align => "center"}
  #payinfo-left
    .paymentcontentblock.roundbox= render 'pledges/lts/stretch_goal'
    .paymentcontentblock.roundbox= render 'colorpicker'
    .paymentcontentblock.roundbox= render 'pledges/lts/billing_information'
    .paymentcontentblock.roundbox= render 'pledges/lts/payment_form'
    .paymentcontentblock.roundbox= render 'pledges/lts/opt_ins'
  #infopage-right
    = render 'donor_dots'
    = render 'pledges/lts/donation_status'
