= p.fields_for :donor do |d|
  .optincheck
    = d.check_box :terms_of_service, class: 'rad'
  .optintext
    = d.label :terms_of_service, "I agree to the #{link_to "Terms & Conditions", popup_path("Content" => "Terms"), class: "popup_link"} of Kiindly.com".html_safe
  .optincheck
    = d.check_box :email_opt_in, class: 'rad'
  .optintext
    I would like to receive email regarding news and special events
    from the Oakland University Alumni Association