= p.fields_for :donor do |d|
  .optincheck
    = d.check_box :terms_of_service, class: 'rad'
  .optintext
    = d.label :terms_of_service, "I agree to the #{link_to "Terms & Conditions", popup_path("Content" => "Terms"), class: "popup_link"} of Kiindly.com".html_safe
  .optincheck
    = d.check_box :email_opt_in, class: 'rad'
  .optintext
    = d.label :email_opt_in, "I would like to receive emails regarding new projects, special events, news and information from TownSquare Cares."
  .optincheck
    = p.check_box :donate_cap, class: 'rad'
  .optintext
    = p.label :donate_cap, "If the campaign doesn't reach my donation cap I'm willing to donate the value of my full cap amount."