- content_for :page_css do
  = stylesheet_link_tag "sharepage"
- content_for :titlebar_nav do
  %strong How was your donation experience today?
  %br
  = link_to "Click here", "http://www.surveymonkey.com/s/JT2L6MC"
  to take a short survey.

.widegreenbox
  .sharebox-left
    #campaignlogo= image_tag "sites/ou/ou_logotitle.jpg", width: 520, height: 120
    %h1{style: "margin:20px 0 0 0; clear:both"} Thank you for your donation!
    %h4{style: "text-transform:uppercase; margin:10px 0 20px 0;"} You are donor ##{@pledge.campaign.donors.count} to the Alumni Association's campaign!
    %h3
      Now, tell others about this great cause,
      %br
      and ask them to take the penny pledge too!

  .sharebox-right
    %h4 #{@pledge.donor.first_name.capitalize}, you have made a difference.
    %p
      With your #{pledge_description(@pledge)}, you have helped the future education of an Oakland University student.
      Every person and every donation makes a difference. Help others join this cause by telling your friends
      and asking them to take the Penny Pledge!
      Remember, you will receive an email within 24 hours confirming your pledge.
    %ul
      %li= link_to "Help spread the word &raquo;".html_safe, ""
      %li= link_to "Learn more about OUAA Scholarship Fund &raquo;".html_safe, "http://www.oualumni.com/OUAAscholarships"
      %li= link_to "Learn more about kiindly.com &raquo;".html_safe, "http://www.kiindly.com"

.widegreenbox
  :javascript
    FB.init({
      appId:'255484937866032', cookie:true, status:true, xfbml:true
    });

    FB.ui({
      method: 'apprequests', message: 'Here is a new Requests dialog...'
    });


