- content_for :page_css do
  = stylesheet_link_tag "sharepage"
- content_for :page_javascripts do
  = javascript_include_tag "pinit", "pledges"
- content_for :titlebar_nav do
  %strong How was your donation experience today?
  %br
  = link_to "Click here to take a short survey.", "http://www.surveymonkey.com/s/JT2L6MC"


.widegreenbox
  .greenboxcontent
    .sharebox-left
      #campaignlogo{:style => "padding-bottom:20px"}= ou_logo_tag
      %hr
      %h1.shareheading
        #{@pledge.donor.first_name.capitalize}, thank you
        %br
        for joining the cause!
      %h4{:style => "text-transform:uppercase; margin:10px 0 20px 0;"} You are donor ##{donor_number(@pledge.campaign)} to this campaign
      %h3
        Now, tell others about this great cause,
        %br
        and ask them to take the penny pledge too!
    .sharebox-right
      %h5 Tell my friends on:
      %p.middletext
        = image_tag 'btn-share-facebook.gif', id: 'facebook_popup', height: 40, border: 0, width: 132
      %p.middletext
        = link_to "https://twitter.com/share?url=http%3A%2F%2Fwww.oupledge.com%2F&hashtags=OUPledge&text=I just made a difference at Kiindly.com. Follow my link to join the crowd. Oakland University", class: 'popup_link' do
          = image_tag 'btn-share-twitter.gif', border: 0
      %p.middletext
        = link_to "http://pinterest.com/pin/create/button/?url=www.oupledge.com&media=http%3A%2F%2Fkiindly.net%2Fsites%2Foaklandalum%2Foaklandalum-pinterest.jpg&description=I just made a difference at oupledge.com. Help increase everyone's donation by one penny by taking the OUAA Penny Pledge, or just donating. Every person and every penny counts!", :class => 'popup_link', "count-layout" => "none" do
          = image_tag 'btn-share-pinterest.gif', height: 40, border: 0, width: 132
      %p &nbsp;
      %p
        = link_to raw("Learn more about kiindly.com &raquo;"), "http://www.kiindly.com", target: "_blank"
        %br
        = link_to raw("Learn more about The OUAA Scholarship Fund &raquo;"), "http://www.oualumni.com", target: "_blank"
    %br.clear
.paddingbox
%br.clear

