- content_for :page_css do
  = stylesheet_link_tag "sharepage"
- content_for :page_javascripts do
  = javascript_include_tag "pinit", "pledges"
- content_for :titlebar_nav do
  %strong How was your donation experience today?
  %br
  = link_to "Click here to take a short survey.", "http://www.surveymonkey.com/s/JT2L6MC"


.widegreenbox
  .greenboxcontent
    .sharebox-left
      #campaignlogo{:style => "padding-bottom:20px"}= ou_logo_tag
      %hr
      %h1.shareheading
        #{@pledge.donor.first_name.capitalize}, thank you
        %br
        for joining the cause!
      %h4{:style => "text-transform:uppercase; margin:10px 0 20px 0;"} You are donor ##{donor_number(@pledge.campaign)} to this campaign
      %h3
        Now, tell others about this great cause,
        %br
        and ask them to take the penny pledge too!
    = render 'sharebox'
    %br.clear
.paddingbox
%br.clear

