= form_for @pledge do |p|
  - content_for :page_title do
    = title(@campaign, 'Payment Information')
  - content_for :video do
    = render partial: 'pledges/lts/charity_picker', locals: { p: p }
    = render partial: 'pledges/lts/pledge_set', locals: { p: p }
  - content_for :progress_text do
    #progresstext
      %span#hardcount= number_with_delimiter(@campaign.donors.count, precision: 0, delimiter: ',')
      supporters will increase their donations
      = succeed "." do
        %em if you pledge NOW

  = render partial: "campaigns/#{@campaign.subdomain}/top_block", locals: { p: p }
  = render partial: "pledges/#{@campaign.subdomain}", locals: { p: p }
