- content_for :page_css do
  = stylesheet_link_tag "paymentpage"
- content_for :titlebar_nav do
  = link_to "Help", "#", class: "help"

#paymentmain
  .campaignlogoblock
    = image_tag "sites/townsquarecares/logo.png", height: "80", width: "540", class: "campaignlogoimg"
  = form_for [@campaign, Pledge.new] do |p|
    .paymentcontentblock
      %h3 Fantastic! Now we just need a few details...
      %p You're just 1 step away from completing your contribution.
      - unless params[:signed_request]
        #fb-root
        :javascript
          window.fbAsyncInit = function() {
            FB.init({
              appId: '255484937866032', status: true, 
              cookie: true, xfbml: true, oauth: true
            });
          };
          (function(d){
             var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             d.getElementsByTagName('head')[0].appendChild(js);
           }(document));
        .fb-registration{"data-fields" => "[{'name':'name'}, {'name':'email'}, {'name':'phone','type':'text','description':'Phone Number'}, {'name':'zip','type':'text','description':'Zip Code'}]", "data-redirect-uri" => fb_campaign_pledges_url}
      - else
        = render 'billing_information'
      %hr.clear
    .paymentcontentblock
      %h3 Payment information
      %ul#paymentform
        %li#payment-type{:style => "width:500px;"}
          = image_tag "visa_32.png", height: 32, width: 32, alt: "Visa"
          = image_tag "mastercard_32.png", height: 32, width: 32, alt: "Mastercard"
          = image_tag "amex_32.png", height: 32, width: 32, alt: "American Express"
          = image_tag "discover_32.png", height: 32, width: 32, alt: "Discover"
          = image_tag "jcb_32.png", height: 32, width: 32, alt: "JCB"
        %li#payment-email
          Card Number
          %span.x10 (no spaces please)
          %br
          = text_field_tag :card_number, nil, name: nil, id: 'card_number'
        %li#payment-zip
          CVC
          %span.x10
            %a{:href => ""} what is this?
          %br
          = text_field_tag :card_code, nil, name: nil, maxlength: 4, id: 'card_code', class: 'short'
        %li#payment-zip
          Expiration
          %span.x10 (mm/yy)
          %br
          = select_month nil, { add_month_numbers_true: true }, { name: nil, id: 'card_month', maxlength: 2, class: 'short' }
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", maxlength: 2, class: 'short'}
      #stripe_error.donation_error
        %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
    .paymentcontentblock
      .optincheck
        = check_box_tag "accept", 1, false
      .optintext
        I agree to the
        %a{:href => ""} Terms &amp; Conditions
        of Kiindly.com.
      .optincheck
        %input.rad{:type => "checkbox", :value => "1", :id => "agree_to_terms"}
      .optintext
        I would like to receive emails regarding new projects, special events, news
        and information from TownSquare Cares.
      %p
        %button.submitbtn{:type => "submit", :id => "submit_donation"} SUBMIT
      %hr.clear
#rightprogress
  .rightcontentblock
    %h3 Donation Summary
    %ul#donation-summary
      %li Donation Type:
      %li.donsum-right Penny Pledge
      %li Pledge Cap:
      %li.donsum-right $50
      %li Campaign Ends:
      %li.donsum-right April 15, 2011
      %li
        %a.x12{:href => ""} Edit Details
    %hr.clear
    %p By making a penny pledge, I am agreeing to donate one penny for every person who also donates to this campaign. If 1000 or more people donate, my donation will be remain at the $10 limit I selected.
  .rightcontentblock
    %h3 Matthew,
    %h4 You're making a difference...
    %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.
