- content_for :page_css do
  = stylesheet_link_tag "paymentpage"
- content_for :titlebar_nav do
  = link_to "Help", "#", class: "help"

#paymentmain
  .campaignlogoblock
    = image_tag "sites/townsquarecares/logo.png", height: "80", width: "540", class: "campaignlogoimg"
  = form_for [@campaign, Pledge.new] do |p|
    .paymentcontentblock
      %h3 Fantastic! Now we just need a few details...
      %p You're just 1 step away from completing your contribution.
      %h3 Billing information
      %ul#billingform
        %li#billing-fname
          First Name
          %br
          %input{:type => "text", :value => "123", :id => "first_name"}
        %li#billing-lname
          Last Name
          %br
          %input{:type => "text", :id => "last_name"}
        %li#billing-email{:style => "width:500px;"}
          Email Address
          %span.x10 (so we can send you a receipt)
          %br
          %input.long{:type => "text", :id => "email"}
        %li#billing-zip
          ZIP Code
          %br
          %input.short{:maxlength => "5", :type => "text", :id => "zip"}
        %li#billing-phone
          Phone
          %span.x10 (optional)
          %br
          %input{:type => "text"}
      %hr.clear
    .paymentcontentblock
      %h3 Payment information
      %ul#paymentform
        %li#payment-type{:style => "width:500px;"}
          Select payment type
          %br
          %input.rad{:name => "cardtype", :type => "radio", :value => "1", :id => "card_type_visa"}
          = image_tag "visa_32.png", height: 32, width: 32, alt: "Visa"
          %input.rad{:name => "cardtype", :type => "radio", :value => "2"}
          = image_tag "mastercard_32.png", height: 32, width: 32, alt: "Mastercard"
          %input.rad{:name => "cardtype", :type => "radio", :value => "3"}
          = image_tag "amex_32.png", height: 32, width: 32, alt: "American Express"
          %input.rad{:name => "cardtype", :type => "radio", :value => "4"}
          = image_tag "discover_32.png", height: 32, width: 32, alt: "Discover"
          %input.rad{:name => "cardtype", :type => "radio", :value => "5"}
          = image_tag "jcb_32.png", height: 32, width: 32, alt: "JCB"
        %li#payment-email
          Card Number
          %span.x10 (no spaces please)
          %br
          %input{:type => "text", :id => "card_number"}
        %li#payment-zip
          CVC
          %span.x10
            %a{:href => ""} what is this?
          %br
          %input.short{:maxlength => "4", :type => "text", :id => "cvc"}
        %li#payment-zip
          Expiration
          %span.x10 (mm/yy)
          %br
          %input.short{:maxlength => "2", :type => "text", :id => "expiration_month"}
          %input.short{:maxlength => "2", :type => "text", :id => "expiration_year"}
      %hr.clear
    .paymentcontentblock
      .optincheck
        %input.rad{:type => "checkbox", :value => "1"}
      .optintext
        I agree to the
        %a{:href => ""} Terms &amp; Conditions
        of Kiindly.com.
      .optincheck
        %input.rad{:type => "checkbox", :value => "1", :id => "agree_to_terms"}
      .optintext
        I would like to receive emails regarding new projects, special events, news
        and information from TownSquare Cares.
      %p
        %button.submitbtn{:type => "submit", :id => "submit_donation"} SUBMIT
      %hr.clear
/ End left block
/ Start right block
#rightprogress
  .rightcontentblock
    %h3 Donation Summary
    %ul#donation-summary
      %li Donation Type:
      %li.donsum-right Penny Pledge
      %li Pledge Cap:
      %li.donsum-right $50
      %li Campaign Ends:
      %li.donsum-right April 15, 2011
      %li
        %a.x12{:href => ""} Edit Details
    %hr.clear
    %p By making a penny pledge, I am agreeing to donate one penny for every person who also donates to this campaign. If 1000 or more people donate, my donation will be remain at the $10 limit I selected.
  .rightcontentblock
    %h3 Matthew,
    %h4 You're making a difference...
    %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.
/ End right block
