!!!
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= image_tag "http://#{@campaign.subdomain}.kiindly.com/assets/email/email-header-thanks.gif"

    %p
      Dear #{@donor.first_name.capitalize},

    - if @pledge.donate_cap?
      %p
        Thank you for your generous pledge of #{number_to_currency(@pledge.cap, precision: 0)} to #{@campaign.name}.
        Below is your receipt of your tax deductible donation which you should keep for your records.
      %p
        You have impacted the entire community because as a result of your donation, 
        #{@campaign.campaign_type} match donors* have increased their pledges by #{number_to_currency(@campaign.match_amount/100, precision: 0)} each.
      %p
        * #{@campaign.campaign_type.capitalize} match donors are those who agreed to donate one #{@campaign.campaign_type} for every donor who participates in the campaign.
    - else
      %p
        Thank you for your generous pledge to #{@campaign.name}.
        The campaign received #{@campaign.number_of_eligible_pledges} donations.
        The campaign did not reach your maximum cap of #{number_to_currency(@pledge.cap, precision: 0)}, matching one #{@campaign.campaign_type} for every donor.
        As a result, your match of a #{@campaign.campaign_type} per donor equals #{number_to_currency(@donor.donation_amount, precision: 0)}.
      %p
        You have impacted the entire community because as a result of your pledge,
        all other #{@campaign.campaign_type} matches increased by #{number_to_currency(@campaign.match_amount/100, precision: 0)} each.

    %p
      Regards,
      %br
      #{@campaign.name} & Kiindly
      \:
      = link_to "Facebook", "https://www.facebook.com/givingtogether"
      |
      = link_to "Twitter", "https://twitter.com/#kiindlygiving"
      |
      = link_to "Website", @campaign.url

    %p= image_tag "http://#{@campaign.subdomain}.kiindly.com/assets/email/email-kiindly-logo.png"

    = render "pledge_mailer/#{@campaign.subdomain}/tax_receipt"

    %p
      We are grateful for your gift and the trust imparted to us in managing its use.

    %p
      %b
        Your gift is deductible on your federal tax return.
        Please consult your tax advisor for full details.
        No goods or services were provided for this gift.

    %p
      For current #{@campaign.name} news and activities, please visit
      = link_to @campaign.url, @campaign.url

    %p
      Every person, and every penny, really does count.  Kiindly.com, Giving Together.
    %p
      For more information on fundraising through Kiindly, please click
      = link_to "here", "http://www.kiindly.com"

