.middleblock
  #leftcol
    = render "campaigns/#{@campaign.subdomain}/expires"
    = render "campaigns/#{@campaign.subdomain}/social"
    = render "campaigns/#{@campaign.subdomain}/tabs"
    = render "campaigns/#{@campaign.subdomain}/campaign_info"
    = render "campaigns/#{@campaign.subdomain}/latest_news"
    = render "campaigns/#{@campaign.subdomain}/charities"
    = render "campaigns/#{@campaign.subdomain}/leaderboard"
    = render "campaigns/#{@campaign.subdomain}/how_it_works"
  #rghtcol
    = render "pledges/donor_dots"
