#campaigninfo.roundbox.tabblock
  %h3 Campaign Information
  %p
    = link_to @campaign.name, @campaign.url, target: '_blank'
    is an event in which participants, more affectionately known as "dancers,"
    raise money to benefit The Cassie Hines Shoes Cancer Foundation. At the conclusion of
    the fundraising, dancers take part in a 12-hour celebration by staying on their feet
    to commemorate the struggles that young adults with cancer go through every single day.
  %p
    The event includes live performances, dancing, games, contests, interaction with other
    student groups and much more! Young adults with cancer that will benefit from our funds
    and have overcome incredible odds inspire dancers by sharing their testimonies at the event.
  %p
    Because of Kiindly, every donation, big or small, is matched. You can donate
    $10, $25, or more to the team and charity of your choice.
    Every cent will be matched by another donor.

  %p
    We have over 150 teams supporting over 50 charities, locally and nationally,
    this season. Our goal is to get at least 500 donors supporting any of the charities.

  %p
    Campaign period: #{start_date(@campaign)} - #{end_date(@campaign)}
    %br
    Goal:
    = number_with_delimiter @campaign.donor_target, precision: 0, delimiter: ','
    donors
  %p
    Visit us online:
    = link_to 'msudm.org', @campaign.url , target: '_blank'
    %br
    Find us on Facebook:
    = link_to 'facebook.com/msudm', 'https://www.facebook.com/msudm', target: '_blank'
    %br
    Follow us on Twitter:
    = link_to 'twitter.com/TheMSUDM', 'http://www.twitter.com/TheMSUDM', target: '_blank'
  %br{:style => "clear:both;"}

  = link_to 'Back to the top', '#'
