#topblock
  .middleblock
    #status
      #campaignlogo= image_tag "#{@campaign.subdomain}/logo.jpg", height: 80, width: 250, alt: "MSU Dance Marathon - Logo"
      = yield :progress_text
      = render "campaigns/#{@campaign.subdomain}/goal_text"
      #progresschart
        #peopleprogress{style: "width:#{@campaign.donor_total_complete_percent}%"}
      - if content_for?(:count_me_in)
        = yield :count_me_in
    #video= yield :video
