!!!
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= image_tag "https://www.oupledge.com/assets/email/email-header-thanks.gif"

    = render 'summary'
    %p Dear #{@donor.first_name},

    %p
      Remember when you did something you were proud of in grade school and your parents would hang it on the refrigerator?

    %p
      Be proud that you have helped an OU student achieve the dream of higher education by posting to Facebook,
      pinning to Pinterest, or just printing this email and finding new space on the refrigerator.

    - if @pledge.pledge_type == "fixed"
      %p
        You have impacted the entire community. As a result of your donation,
        people who have chosen to make the escalating penny pledge will have
        their pledge increased by $.01 each, which adds up quickly.
    - else
      %p
        Your pledge has impacted an entire community by increasing all
        other penny pledges by $.01 each, which adds up quickly.
    %p
      Thank you for your generous
      = @pledge.pledge_type == "fixed" ? "donation" : "pledge"
      to the OUAA Scholarship Fund. We are grateful for your gift and the trust imparted to us in managing its use.

    %p
      Regards,
      %br
      Oakland University Alumni Association & Kiindly
      \:
      = link_to "Facebook", "https://www.facebook.com/givingtogether"
      |
      = link_to "Twitter", "https://twitter.com/#kiindlygiving"
      |
      = link_to "Website", "https://www.oupledge.com"

    %p= image_tag "https://www.oupledge.com/assets/email/email-kiindly-logo.png"

    - if @pledge.pledge_type == "penny"
      %p FINAL DONATION AMOUNT AND TIMING
      %p
        Your final donation amount will be determined and charged to your credit card after the end
        of the campaign which is June 29nd, 2012. Your penny pledge donation will be determined by
        multiplying the number of unique donors at the end of the campaign by one penny
        for each donor. If 1000 or more people donate, your donation will remain at 
        the #{number_to_currency(@pledge.cap, precision: 0)} limit you selected.

    %p RECEIPT FOR YOUR TAX RECORDS
    %p
      Once your final donation is processed, you will receive an email from Kiindly 
      confirming your donation was processed and verification of your tax deductible donation for your records.

    %p
      For current Alumni news and activities, please visit the OUAA website at
      = link_to "www.oualumni.com", "http://www.oualumni.com"

