%p
  Thank you for your
  - if @pledge.pledge_type == "penny"
    Penny Pledge of up to
    %strong= number_to_currency(@pledge.cap, precision: 0)
  - elsif @pledge.pledge_type == "fixed"
    Fixed Donation of
    %strong= number_to_currency(@pledge.amount, precision: 0)
  - elsif @pledge.pledge_type == "dollar"
    Dollar Match of #{'up to' unless @pledge.donate_cap?}
    %strong= number_to_currency(@pledge.cap, precision: 0)
  %br
  The campaign ends
  %strong= @campaign.ends_on.strftime('%A, %B %-d, %Y')
  %br
  Campaign donor number:
  %strong #{@donor.donor_number}
