= form_for pledge do |p|
  .paymentcontentblock.roundbox
    %h3 Fantastic! Now we just need a few details...
    %p You're just 1 step away from completing your contribution.
    %h4 Set your maximum donation
    %noscript
      %p Please enter your pledge cap (between $10 and $1000)
    = render partial: 'pledges/chi/slider', locals: { p: p }
    %p By pledging to match a dollar, I am agreeing to donate one dollar for every person who also donates to this campaign. If more people donate, my total contribution will remain at the pledge cap I select.

    .optincheck
      = p.check_box :donate_cap, class: 'rad'
    .optintext
      = p.label :donate_cap, "If the campaign doesn't reach my donation cap I'm willing to donate the value of my full cap amount."

    = render partial: 'pledges/chi/color_chooser', locals: { p: p }
    %hr.clear/
  .paymentcontentblock.roundbox
    = render partial: pledge.donor, locals: { p: p }
    %hr.clear/
  .paymentcontentblock.roundbox
    = render 'pledges/chi/credit_card'
    %hr.clear/
  .paymentcontentblock.roundbox
    = render partial: 'pledges/chi/opt_in', locals: { p: p }
    %p
      %button.submitbtn{:type => "submit", :id => "submit_donation"} SUBMIT
    %hr.clear/
