= form_for pledge do |p|
  .paymentcontentblock.roundbox
    %h3 Fantastic! Now we just need a few details...
    %p You're just 1 step away from completing your contribution.
    %h4 Set your maximum donation
    %noscript
      %p Please enter your pledge cap (between $10 and $1000)
    = render partial: 'pledges/chi/slider', locals: { p: p }
    %p By pledging to match a dollar, I am agreeing to donate one dollar for every person who also donates to this campaign. If more people donate, my total contribution will be remain at the pledge cap I select.
    %h4 Customize your pledge
    %p Pick a donor dot color &amp; write a message
    %a#colorpicker{:href => "http://www.menucool.com/color-picker"} Color Picker for website, easy-to-use
    = p.hidden_field :dot_color, class: 'color short'
    = p.text_field :dot_comment, class: 'medium', maxlength: 140, onblur: "if (this.value=='') this.value = 'Type a short message';", onfocus: "if (this.value=='Type a short message') this.value = '';", style: "margin-left:20px", value: "Type a short message"
    %hr.clear/
  .paymentcontentblock.roundbox
    = render partial: pledge.donor, locals: { p: p }
    %hr.clear/
  .paymentcontentblock.roundbox
    = render 'pledges/chi/credit_card'
    %hr.clear/
  .paymentcontentblock.roundbox
    = render partial: 'pledges/chi/opt_in', locals: { p: p }
    %p
      %button.submitbtn{:type => "submit", :id => "submit_donation"} SUBMIT
    %hr.clear/
