.paymentcontentblock.roundbox
  %h1.shareheading #{@pledge.donor.first_name}, thank you for joining the cause!
  %h4{:style => "text-transform:uppercase; margin:10px 0 20px 0;"} You are donor ##{@pledge.donor.donor_number} to this campaign
  %h3
    Now, tell others about this great cause,
    %br/
    and ask them to take the pledge too!
  = render 'pledges/chi/sharebox'
  %p
    = link_to raw("Learn more about kiindly.com &raquo;"), 'http://www.kiindly.com', target: '_blank'
    %br/
    = link_to raw("Learn more about #{@campaign.name} &raquo;"), @campaign.url, target: '_blank'
  %noscript
    %p &nbsp;
    %p &nbsp;
  %hr.clear/
