#topblock
  .middleblock
    #status
      #campaignlogo= logo(@campaign, height: 80, width: 250)
      #progresstext
        %span#hardcount= number_with_delimiter(campaign.number_of_eligible_pledges)
        donors
        %br/
        have joined the cause. When you pledge, everyone increases their donation by another dollar.
      #goaltext
        Goal:
        %strong #{number_with_delimiter(campaign.donation_target.to_i)} donors
        %br/
        Total Pledged:
        %strong= number_to_currency(campaign.donation_total, precision: 2)
      = render 'campaigns/chi/progressbar'
      #countmein
        = button_to "COUNT ME IN", new_pledge_path, method: :get, style: 'width:230px;'
    #video
      %iframe{width: 640, height: 390, src: 'https://www.youtube.com/embed/cohybD-cxGk?rel=0', frameborder: 0, allowfullscreen: ''}
  .middleblock
    #leftcol
      #expires.roundbox
        = image_tag "#{campaign.subdomain}/calendar.gif", align: 'left'
        This campaign ends in
        %br/
        %span#expiresdays #{campaign.days_left} days
      = render 'campaigns/chi/did_you_know'
    #middcol
      = render 'campaigns/chi/social'
      = render partial: 'campaigns/chi/campaign_info', locals: { campaign: @campaign }
    #rghtcol
      = render 'pledges/chi/donor_dots'
