#topblock
  .middleblock
    #status
      #campaignlogo
        = image_tag "sites/chi/logo.jpg", height: 80, width: 250
      #progresstext
        %span#hardcount= number_with_delimiter(@campaign.number_of_eligible_pledges)
        donors
        %br/
        have joined the cause. When you pledge, everyone increases their donation by another penny*
      #goaltext
        Goal:
        %strong #{number_with_delimiter(@campaign.donation_target.to_i)} donors
        %br/
        Total Pledged:
        %strong= number_to_currency(@campaign.donation_total, precision: 2)
      #progresschart
        #peopleprogress{:style => "width:50%"}
      #countmein
        = button_to "COUNT ME IN", new_pledge_path, method: :get, style: 'width:230px;'
    #video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "https://www.youtube-nocookie.com/embed/UwVND7EaHeY?rel=0", :width => "640"}
  .middleblock
    #leftcol
      #expires.roundbox
        = image_tag "calendar.gif", align: 'left'
        This campaign ends in
        %br/
        %span#expiresdays #{@campaign.days_left} days
      #corporate_diy.roundbox
        %h3 TOP Corporate donations
        %p
          Be the first!
          %br/
          %a{:href => ""} Become a corporate donor »
        %h3 Did you know...
        %p Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Null am id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus co mmodo, tortor mauris condim entum nibh, ut fermentum massa justo sit amet risus.
        %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
    #middcol
      #social.roundbox
        %span.socialtitle Share
        %span.st_facebook_large{:displaytext => "Facebook"}
        %span.st_twitter_large{:displaytext => "Tweet"}
        %span.st_pinterest_large{:displaytext => "Pinterest"}
        %span.st_linkedin_large{:displaytext => "LinkedIn"}
        %span.st_sharethis_large{:displaytext => "ShareThis"}
      #campaigninfo.roundbox
        %p
          %strong.campaigntitle Support The Troops Penny Pledge
          %br/
          %strong= @campaign.name
          %br/
          Campaign period: Aug 15, 2012 - Sep 15, 2012
          %br/
          Goal: #{number_with_delimiter(@campaign.donation_target.to_i)} donors
        %p
          %strong About this campaign
        %p Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p
          %strong Where the money goes...
          %br/
          • Nullam id dolor id nibh ultricies vehicula ut id elit.
          %br/
          • Integer posuere erat a ante venenatis dapibus po.
          %br/
          • Aenean lacinia bibendum nulla sed consectetur.
        %p
          %strong Learn more
          %br/
          = @campaign.contact_name
          %br/
          = @campaign.contact_email
          %br/
          = number_to_phone(@campaign.contact_phone, delimiter: '.')
        %div{:style => "height:1px; width:1px; padding:0; margin:0; overflow:hidden;"}
          = image_tag "pinterest.jpg", alt: "Pinterest", height: 600, width: 350
    #rghtcol
      = render 'pledges/donor_dots'
