= form_tag new_campaign_pledge_path(@campaign), method: :get do
  #goldbox
    #donate
      .paymentoption
        .radio= radio_button_tag 'donation_type', 'matching', true
        .payment-text
          %h3 The Penny Pledge
          = link_to "" do
            = image_tag "learnmore.gif", border: 0, class: "learnmore"
          %br
          Donate 1 penny for every person that donates.
          %br
          %b{:style => "color:#555;"} Watch the video above to learn more.
          %br
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} SET MY LIMIT TO:
            .donation_right
              %noscript
                %p Please enter your pledge cap (between $10 and $60)
              %input#slider2.carpe-slider.target-display5{:name => "slider1", :style => "float: left; clear: none; margin-right:10px;", :type => "text"}
              $
              %input#display5{:name => "capname", :tabindex => "-1", :value => "10"}
      .paymentoption{:style => "padding-top:25px; "}
        .radio= radio_button_tag 'donation_type', 'fixed'
        .payment-text
          %h3 Donate a fixed amount
          = link_to "" do
            = image_tag "learnmore.gif", border: 0, class: "learnmore"
          .donation_error Fixed donation must be at least $5.00
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} ENTER AN AMOUNT:
            .donation_right
              $
              = succeed ".00" do
                = text_field_tag 'fixedamount', nil, disabled: true, class: 'fixedamount'
      %br{:style => "clear:both;"}
    = image_submit_tag "btn_submitdonation.png", id: "submit_donation"
