= form_for [@campaign, @pledge], url: new_campaign_pledge_path(@campaign), method: :get do |p|
  #goldbox
    #donate
      .paymentoption
        .radio= p.radio_button :pledge_type, 'penny', class: 'donation_button'
        .payment-text
          %h3 The Penny Pledge
          = image_tag "learnmore.gif", border: 0, class: "learnmore", id: "penny_learnmore"
          .tooltip
            %p Donate 1 penny for every person that donates.
            %p Watch the video above to learn more.
          %br
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} SET MY LIMIT TO:
            .donation_right
              %noscript
                %p Please enter your pledge cap (between $10 and $60)
              %input#slider2.carpe-slider.target-pledge_cap{:name => "slider1", :style => "float: left; clear: none; margin-right:10px;", :type => "text"}
              $
              -#%input#display5{:name => "capname", :tabindex => "-1", :value => "10"}
              = p.text_field :cap, tabindex: -1, value: 10, class: 'display5'
      .paymentoption{:style => "padding-top:25px; "}
        .radio= p.radio_button :pledge_type, 'fixed', class: 'donation_button'
        .payment-text
          %h3 Donate a fixed amount
          = image_tag "learnmore.gif", border: 0, class: "learnmore", id: "fixed_learnmore"
          .tooltip
            Minimum $5 donation. Fixed donations count toward the match for people who take the penny pledge.
            %br
            %b Every penny and every dollar counts.
          .donation_error= flash[:error].presence
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} ENTER AN AMOUNT:
            .donation_right
              $
              = succeed ".00" do
                = p.text_field :amount, disabled: false, class: 'fixedamount positive-integer', maxlength: 5
      %br{:style => "clear:both;"}
    = image_submit_tag "btn_submitdonation.png", id: "submit_donation"
