#footer
  #footercontainer
    .footerlinks-l
      This Campaign
      %br
      = link_to "Corporate donations", "#"
      %br
      = link_to "Contact the organization", "#"
      %br
      = link_to "Who has donated?", "#"
      %br
      = link_to "Campaign statistics", "#"
    .footerlinks-l
      %br
      = link_to "Telling others", "#"
      %br
      = link_to "Sponsoring a campaign", "#"
      %br
      = link_to "Removing my name", "#"
    .footerlinks-r
      Company
      %br
      = link_to "Home", Campaign.first, { target: '_parent' } 
      %br
      = link_to "About kiindly.com", "#"
      %br
      = link_to "Privacy statement", "#"
      %br
      = link_to "Terms of use", "#"
    .footerlinks-r
      Need Help?
      %br
      = link_to "Common questions", "#"
      %br
      = link_to "Help center", "#"
      %br
      = link_to "Contact info", "#"
      %br
      = link_to "Payment options", "#"
    .footerlinks-r
      You and kiindly.com
      %br
      = link_to "Register", "#"
      %br
      = link_to "Start a campaign", "#"
      %br
      = link_to "Referral program", "#"
      %br
      = link_to "Badges", "#"
