<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <title>Kiindly.com Giving Together</title>
  <%= stylesheet_link_tag "popups", "https://fonts.googleapis.com/css?family=Nunito:300,700", media: "all" %>
  <%= javascript_include_tag "jquery", "popup" %>
</head>

<body>
<a name="top"></a>

<div id="bodycontent">

  <div id="popup-titlebar">
    <h2 id="titlebarlogo"><span class="stack">Kiindly.com The social giving donation platform.</span></h2>
  </div>


  <div id="mainbodycontent-popup">

    <ul id="popupnav" data-default='<%= @content %>'>
      <li>
        <%= link_to "Privacy Policy", "#", class: 'popup_div', data: { divkey: 'privacy' } %>
      </li>

      <li>
        <%= link_to "Terms of Use", "#", class: 'popup_div', data: { divkey: 'terms' } %>
      </li>

      <li>
        <%= link_to "FAQ", "#", class: 'popup_div', data: { divkey: 'faq' } %>
      </li>

    </ul>

    <br style="clear:both;"/>

    <div id="contentblock-terms" style="display:none;" data-divkey="terms" class="popup_content">
      <%= render "campaigns/popup/pu_terms" %>
    </div>

    <div id="contentblock-privacy" style="display:none;" data-divkey="privacy" class="popup_content">
      <%= render "campaigns/popup/pu_privacy" %>
    </div>

    <div id="contentblock-faq" style="display:none;" data-divkey="faq" class="popup_content">
      <%= render "campaigns/popup/pu_faq" %>
    </div>

    <br class="clear"/>

  </div>


</div>

<%= javascript_include_tag "google_analytics" %>

</body>
</html>
