- content_for :page_javascripts do
  = javascript_include_tag "campaigns", "carpe", "jquery.cycle.all", "jquery.numeric"
- content_for :titlebar_nav do
  = link_to "FAQ", "#", class: "help"
  &nbsp; | &nbsp;
  = link_to "Start my own Campaign", "#", class: "startcampaign"

#leftmain
  #hero
    %ul#heroContent.slideshow
      %li= image_tag "sites/ou/ou_hero1.jpg", width: 500, height: 330
      %li= image_tag "sites/ou/ou_hero2.jpg", width: 500, height: 330
      %li= image_tag "sites/ou/ou_hero3.jpg", width: 500, height: 330
  #campaignlogo= image_tag "sites/ou/ou_logotitle.jpg", width: 520, height: 120
  #socialthin= render 'add_this'
  #progress= render 'progressbar'
  #campaigninfo= render 'campaign_info'
#rightmain
  #video
    %iframe{width: 370, height: 208, src: "https://www.youtube.com/embed/INw_r96VIBM?modestbranding=1&rel=0&autohide=1&showinfo=0", frameborder: "0", allowfullscreen: ""}
    -#%iframe{:allowfullscreen => "", :frameborder => "0", :height => "208", :src => "http://player.vimeo.com/video/5317693?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :webkitallowfullscreen => "", :width => "370"}
  = render 'donation_gold_box'
  #diduknow
    %h3 Did you know...
    %p Every donation makes a difference in the life of a college student.
  #supporters
    %h3 Supporters
    -#.fb-facepile{"data-href" => "kiindly.com/index.php", "data-max-rows" => "2", "data-width" => "400"}


