- content_for :page_title do
  = title(@campaign, 'Kiindly.com Giving Together')
- content_for :page_javascripts do
  = render "sharethis"
- content_for :count_me_in do
  #countmein= count_me_in_button(request.host, @team.try(:id))
- content_for :video do
  = video_link
- content_for :progress_text do
  #progresstext
    %span#hardcount= number_with_delimiter(@campaign.donors.count, precision: 0, delimiter: ',')
    supporters will increase their donations
    = succeed "." do
      %em if you pledge NOW

= render "campaigns/#{@campaign.subdomain}/top_block"
= render "campaigns/#{@campaign.subdomain}/campaign"
