#leftmain
  #hero
    %ul#heroContent
      %li.heroImage
        = image_tag "hero1.jpg", width: 500, height: 330
        %span.textbottom Text overlay if needed
      %li.heroImage
        = image_tag "hero2.jpg", width: 500, height: 330
  #campaignlogo
    = image_tag "sites/townsquarecares/logo.png", width: 540, height: 80
  #socialthin
    / AddThis Button BEGIN
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_facebook_like
      %a.addthis_button_facebook_send
      %a.addthis_button_tweet
      %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
      %a.addthis_button_email
    %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eb2fd3607617b32", :type => "text/javascript"}
    / AddThis Button END
  #progress
    .progresstext
      .progress1
        Current level
        %br
        %span.x14
          %strong $2,342
      .progress2
        Number of donors
        %br
        %strong.x14 432
      .progress3
        Target
        %br
        %strong.x14 $10,000
    .progressbar
      .progressoverlay{:style => "width:23% !important"}
        %span.stack Campaign name has raised $2,342 out of $10,000 from 432 donors.
  #navtabs
    #tab1.navtab
      %strong
        %a{:style => "color:#fff;"} This Campaign
    #tab1x.navtab{:onclick => "document.getElementById('tab1-content').style.display = 'inline';\n    document.getElementById('tab2-content').style.display = 'none';\n    document.getElementById('tab1').style.display = 'inline';\n    document.getElementById('tab1x').style.display = 'none';\n    document.getElementById('tab2').style.display = 'inline';\n    document.getElementById('tab2x').style.display = 'none';", :style => "background-color:#737373; display:none;"}
      %strong
        %a#tab1b{:style => "color:#4fba69;"} This Campaign
    #tab2.navtab{:onclick => "document.getElementById('tab1-content').style.display = 'none';\n    document.getElementById('tab2-content').style.display = 'block';\n    document.getElementById('tab1').style.display = 'none';\n    document.getElementById('tab1x').style.display = 'inline';\n    document.getElementById('tab2').style.display = 'none';\n    document.getElementById('tab2x').style.display = 'inline';", :style => "background-color:#737373;"}
      %strong
        %a#tab2a{:style => "color:#4fba69;"} Organization
    #tab2x.navtab{:style => " display:none;"}
      %strong
        %a{:style => "color:#fff;"} Organization
  #campaigninfo
    / content block
    #mcs_container
      .customScrollBox
        .container
          .content
            #tab1-content
              %p
                %strong About This Campaign
                %br
                Our annual winter appeal
              %p
                %b About Urban Students Empowered
                %br
                We identify and train highly effective teachers to lead underperforming students in low-income schools to enroll in and graduate from college.
              %p To fulfill this mission, US Empowered teachers - or Program Directors - lead a three-year program for US Empowered Fellows that consists of a daily, in-school course; ongoing experiential conferences; and tailored, online support during the first year of college.  All elements of the US Empowered program collectively increase student achievement and ensure that Fellows enroll in and graduate from college.
              %p Our alumni, equipped with new resources, best practices and collaborative networks of support, become college graduates and generational leaders advocating for higher education opportunities for all.
              %p
                %b Our Vision
                %br
                One day, every student in low-income America will have the opportunity to enroll in and graduate from college. We have seen what it takes to empower a student.
              %p
                %b Help us build our movement to empower a nation.
                %br
                Your donations help us to continue with this vital work. Visit our website for more information. Please help today.
            #tab2-content{:style => "display:none;"}
              %p
                %strong Organization Information
              %p Lorem ipsum dolor sit amet
              %p Lorem ipsum dolor sit amet
              %p Lorem ipsum dolor sit amet
              %p Lorem ipsum dolor sit amet
              %p Lorem ipsum dolor sit amet
              %p
                %strong Campaign Contact
                %br
                Joseph Saunders (Online Appeals Agent)
                %br
                Phone: 248.323.1200
                %br
                Email: info@townsquarecares.org
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}
    / content to show if javascript is disabled
    %noscript
      :css
        #mcs_container .customScrollBox {overflow:auto;}
        #mcs_container .dragger_container {display:none;}
    %br{:style => "clear:both;"}
/ End left block
/ Start right block
#rightmain
  #video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "208", :src => "http://player.vimeo.com/video/5317693?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :webkitallowfullscreen => "", :width => "370"}
  / Donation gold box
  #goldbox
    #donate
      .paymentoption
        .radio
          %input{:checked => "checked", :name => "donation-type", :type => "radio", :value => "pennypledge"}
        .payment-text
          %h3 The Penny Pledge
          %a{:href => ""}
            = image_tag "learnmore.gif", border: 0, class: "learnmore"
          %br
          Donate 1 penny for every person that donates.
          %br
          %b{:style => "color:#555;"} Watch the video above to learn more.
          %br
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} SET MY LIMIT TO:
            .donation_right
              %noscript
                %p Please enter your pledge cap (between $10 and $60)
              %input#slider2.carpe-slider.target-display5{:name => "slider1", :style => "float: left; clear: none; margin-right:10px;", :type => "text"}
              $
              %input#display5{:name => "capname", :tabindex => "-1", :value => "10"}
      .paymentoption{:style => "padding-top:25px; "}
        .radio
          %input{:name => "donation-type", :type => "radio", :value => "fixedamount"}
        .payment-text
          %h3 Donate a fixed amount
          %a{:href => ""}
            = image_tag "learnmore.gif", border: 0, class: "learnmore"
          .donation_input
            .donation_left
              %b{:style => "color:#999; font-size:13px;"} ENTER AN AMOUNT:
            .donation_right
              $
              = succeed ".00" do
                %input.fixedamount{:type => "text", :value => "50"}
      %br{:style => "clear:both;"}
    %a{:href => "payment.php"}
      = image_tag "btn_submitdonation.png"
  / End Donation gold box
  / Did you know box
  #diduknow
    %h3 Where does it go?
    %p Townsquare Cares makes every effort to keep operational costs to a minimum.
  / End Did you know box
  / Facepile
  #supporters
    %h3 Supporters
    .fb-facepile{"data-href" => "kiindly.com/index.php", "data-max-rows" => "2", "data-width" => "400"}
/ End right block

- content_for :show_functions do
  = render "hero"
