- content_for :video do
  %iframe{allowfullscreen: '', frameborder: 0, height: 390, width: 640, src: "https://www.youtube-nocookie.com/embed/IiBEj8j9g8c"}

.middleblock
  #leftcol
    = render 'campaigns/lts/expires'
    = render 'campaigns/lts/social'
    = render 'campaigns/lts/tabs'
    = render 'campaigns/lts/campaign_info'
    = render 'campaigns/lts/latest_news'
    = render 'campaigns/lts/charities'
    = render 'campaigns/lts/leaderboard'
    = render 'campaigns/lts/how_it_works'
  #rghtcol
    = render 'pledges/donor_dots'
