#topblock
  .middleblock
    #status
      #campaignlogo= image_tag 'lts/logo.jpg', height: 80, width: 250, alt: 'Live To Support Chicago - Logo'
      #progresstext
        %span#hardcount 250
        supporters will increase their donations
        = succeed "." do
          %em if you pledge NOW
      #goaltext
        Goal:
        %strong 500 people
        %br/
        Total Pledged:
        = succeed "*" do
          %strong $2,700
      #progresschart
        #peopleprogress{:style => "width:50%"}
      #countmein= count_me_in_button(request.host)
    #video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube-nocookie.com/embed/EbXfNhvJldw?rel=0", :width => "640"}

  .middleblock
    #leftcol
      = render 'campaigns/lts/expires'
      = render 'campaigns/lts/social'
      = render 'campaigns/lts/tabs'
      = render 'campaigns/lts/campaign_info'
      = render 'campaigns/lts/latest_news'
      = render 'campaigns/lts/charities'
    = render 'campaigns/lts/leaderboard'
    = render 'campaigns/lts/how_it_works'
    #rghtcol
      = render 'pledges/donor_dots'
