#topblock
  .middleblock
    #status
      #campaignlogo= logo(@campaign, height: 80, width: 250)
      #progresstext
        %span#hardcount= number_with_delimiter(campaign.number_of_eligible_pledges)
        donors
        %br/
        have joined the cause. When you pledge, everyone increases their donation by another dollar.
      #goaltext
        Goal:
        %strong #{number_with_delimiter(campaign.donation_target.to_i)} donors
        %br/
        Total Pledged:
        %strong= number_to_currency(campaign.donation_total, precision: 2)
      = render 'campaigns/chi/progressbar'
      #countmein= count_me_in_button(request.host)
    #video
      %iframe{width: 640, height: 390, src: 'http://www.youtube-nocookie.com/embed/EbXfNhvJldw?rel=0', frameborder: 0, allowfullscreen: ''}
#topblock2
  .middleblock
    #leftcol
      = render partial: 'campaigns/chi/campaign_ends', locals: { campaign: @campaign }
      = render 'campaigns/chi/did_you_know'
    #middcol
      = render 'campaigns/chi/social'
      = render partial: 'campaigns/chi/campaign_info', locals: { campaign: @campaign }
    #rghtcol
      = render 'pledges/chi/donor_dots'
