#campaigninfo.roundbox
  %p
    %strong.campaigntitle #{campaign.name} Dollar Pledge

  %p
    %strong Where does your donation go?
  %p
    = link_to 'Give A Little Does A Lot', 'http://www.healthyinitiative.org/philanthropy', target: '_blank'
    %em
      %strong [501c(3) application pending]

  = render 'campaigns/chi/about_this_campaign'

  %p
    %strong Learn more

  %p
    Visit:
    = link_to 'www.healthyinitiative.org', campaign.url, target: '_blank'

    - if campaign.contact_name
      %br/
      = campaign.contact_name
    - if campaign.contact_email
      %br/
      Email:
      = mail_to campaign.contact_email, nil, subject: campaign.name
    - if campaign.contact_phone
      %br/
      = number_to_phone(campaign.contact_phone, delimiter: '.')
  %div{:style => "height:1px; width:1px; padding:0; margin:0; overflow:hidden;"}
    = image_tag "chi/pinterest.jpg", alt: "Pinterest", height: 600, width: 350
