#footer
  #footercontainer
    .footerlinks-l
      Company
      %br
      = link_to 'Kiindly.com', 'http://www.kiindly.com', target: '_blank'
      %br
      = link_to 'How it works', '#'
      %br
      = link_to 'About kiindly.com', '#'
    .footerlinks-l
      Legal
      %br
      = link_to 'Privacy statement', 'http://www.kiindly.net/popup.php', class: 'popup_link'
      %br
      = link_to 'Terms of use', 'http://www.kiindly.net/popup.php', class: 'popup_link'
    .footerlinks-l
      Need Help?
      %br
      = link_to 'FAQ', 'http://www.kiindly.net/popup.php', class: 'popup_link'
      %br
      = link_to 'Pricing', '#'
      %br
      = link_to 'Contact info', '#'
    .footerlinks-l
      You and kiindly.com
      %br
      = link_to "Start a campaign", "#", class: 'sac'
