!!!
%html{"xmlns:fb" => "https://www.facebook.com/2008/fbml"}
  %head
    %title Charity / Campaign - Kiindly.com Giving Together
    = favicon_link_tag
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Nunito:300,700", media: "all"
    = yield :page_css
    = javascript_include_tag "https://js.stripe.com/v1/", "application", "jquery.numeric"
    = yield :page_javascripts
    = csrf_meta_tags
    = tag :meta, name: "stripe-key", content: STRIPE_PUBLISHABLE_KEY
    = yield :show_functions
  %body
    #bodycontent
      = render 'layouts/titlebar'
      #mainbodycontent
        = yield
    = render 'layouts/footer'
    = javascript_include_tag "google_analytics"