!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    = tag :meta, "http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"
    = yield :page_title
    = favicon_link_tag
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Nunito:300,700", params[:controller], media: "all"
    = yield :page_css
    = javascript_include_tag "https://js.stripe.com/v1/", "application", params[:controller]
    = yield :page_javascripts
    = csrf_meta_tags

    = tag :meta, name: "stripe-key", content: STRIPE_PUBLISHABLE_KEY
    = yield :show_functions
    = javascript_include_tag "google_analytics", "tabs"

    -# Color Picker
    -#= stylesheet_link_tag 'mcColorPicker/mcColorPicker'
    -#= javascript_include_tag 'mcColorPicker/mcColorPicker'

  %body
    #bodycontent
      = render 'layouts/titlebar'

      #topblock
        .middleblock
          #status
            #campaignlogo= image_tag 'lts/logo.jpg', height: 80, width: 250, alt: 'Live To Support Chicago - Logo'
            #progresstext
              %span#hardcount= number_with_delimiter(@campaign.donors.count, precision: 0, delimiter: ',')
              supporters will increase their donations
              = succeed "." do
                %em if you pledge NOW
            #goaltext
              Goal:
              %strong= number_with_delimiter(@campaign.donor_target, precision: 0, delimiter: ',')
              people
              %br/
              Total Pledged:
              = succeed "*" do
                %strong= number_to_currency(0)
            #progresschart
              #peopleprogress{style: "width:#{[@campaign.donor_total_complete_percent,5].max}%"}
            - if content_for?(:count_me_in)
              = yield :count_me_in
          #video= yield :video

      = yield

    = render 'layouts/footer'
