<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Charity / Campaign - Kiindly.com Giving Together</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Nunito:300,700", :media => "all" %>
  <%= yield :page_css %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<%# required for Facebook facepile %>
<%# TODO: Add this div programmatically in the facepile.js %>
<div id="fb-root"></div>

<div id="bodycontent">
  <%=  render 'titlebar' %>
  
  <div id="mainbodycontent">
    <%= yield %>
  </div>
</div>

<%= render 'footer' %>

<%# TODO: Split this into a separate JS in the pipeline %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-413938-49']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
